<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/avatar.css" />
    <script defer src="./js/avatar.js"></script>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div>
      <% for (let i = 1; i < 5; i++) { %>
      <img src="<%= items[i].item.images.icon%>/icon.png" alt="<%= items[i].item.name %>" width="250px" />
      <button onclick="setAvatar('<%= items[i].item.images.icon %>')">Set <%= items[i].item.name %> as Avatar</button>
      <% } %>
    </div>
    <%- include('../partials/foot.ejs') %>
  </body>
</html>
